# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists.
* Arithematic Evaluation of Expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. SQL
4. Java
5. R
6. Scala
7. JavaScript.
8. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. Keras

| Data Science Tools |
| :- |
| Apache Spark |
| BigML |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This is a arithmetic formula to mutiply and then add integer
(3*4)+5

17

In [ ]:
#This is to convert 200 mins to hrs by dividing 60
mins=200
hrs=200/60
print(hrs)

3.3333333333333335

## Author
Kahnu Charan Swain